.report-users-section {
  margin: 40px 170px;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

/* Estilos para el encabezado */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para los filtros */
.filters {
  margin-bottom: 20px;
}

.filters label {
  margin-right: 10px;
}

/* Estilos para los inputs */
input[type="text"],
select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #c82333;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

#role-filter {
  display: inline;
  width: 150px;
}
