{% extends 'inicio.html' %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<link rel="stylesheet" href="/static/css/styleHelp.css" />

<main>
  <h1>Ayuda</h1>
  <section class="help">
    <h2>¿Cómo utilizar el chat?</h2>
    <div class="info">
      <h3> <strong> Iniciar la conversación:</strong></h3>
      <ul>
        <li>
          Para comenzar, simplemente escribe tu mensaje en el cuadro de chat y
          presiona "Enviar".
        </li>
        <li>Puedes empezar con un saludo o una pregunta directa.</li>
      </ul>
      <h3><strong>Pregunta clara y concisa:</strong></h3>
      <ul>
        <li>
          Formula tus preguntas de manera clara y concisa para obtener los
          mejores resultados.
        </li>
        <li>
          Evita mensajes largos y ambiguos, ya que esto puede dificultar la
          comprensión del chatbot.
        </li>
      </ul>
    </div>
  <h2>Campos cubiertos por el chatbot</h2>
    <div class="info">
      <h3><strong>Información administrativa:</strong></h3>
      <ul>
        <li>
          Información sobre registros estudiantiles y procedimientos de
          matrícula.
        </li>
        <li>Políticas y regulaciones académicas.</li>
        <li>Calendario académico y fechas importantes.</li>
        <li>Procesos de transferencia y convalidación de créditos.</li>
      </ul>
      <h3><strong>Información académica:</strong></h3>
      <ul>
        <li>Programas de estudio y carreras ofrecidas por la universidad.</li>
        <li>Requisitos de admisión y procesos de solicitud.</li>
        <li>Planes de estudio.</li>
      </ul>
      <h3><strong>Soporte técnico:</strong></h3>
      <ul>
        <li>Asistencia con el acceso a plataformas y sistemas en línea.</li>
        <li>
          Solución de problemas técnicos relacionados con el uso de recursos
          digitales.
        </li>
        <li>
          Orientación sobre el uso de herramientas y software específicos.
        </li>
      </ul>
    </div>
  </section>
</main>

{% endblock %}
